# Build products.
input/dependencies/*/input
input/dependencies/*/output
output

# Miscellaneous.
.DS_Store

# User-specific XCode 3 and 4 files
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata
